@charset "UTF-8";

*{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.2rem;
    color: #3f413d;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("imagens/fundo-transparente.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator{
    background-color: #e4e4e4;
    padding: 3vh 3vh 3vh 3vh;
    border-radius: 0.2rem;
    box-shadow: 0 10px 10px 0 rgba(22, 22, 22, 0.644);
}

#display {
    background-color: #fdf8fd;
    padding: 15px;
    border-radius: 0.1rem;
    text-align: right;
    height: 5vh;
    margin: 0.5rem;
}

.calculatorButtons{
    width: 4rem;
    height: 3rem;
    border: none;
    margin: 0.3rem;
    border-radius: 0.5rem;
    background-color: #fef9ff;
    box-shadow: 0 4px #cac5b6;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.315);
}

.calculatorButtons:active {
    transform: translateY(0.1vh);
    box-shadow: 0 2px #cac5b6;
}

#cleanDisplay, #deleteDigit, #division, #multiplication, #subtraction, #sum, #result{
    background-color: #5bdfcd;
    color: #fdfffc;
}

#result{
    height: 6.8rem;
}

#num0{
    width: 8.7rem;
}